body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Set background color to black */
    color: #fff; /* Set font color to white */
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #000000;
    color: #000;
}

button {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}